@import '../inc/resources'

html,
body
	margin: 0
	padding: 0
	scroll-behavior: smooth

@keyframes scrollingbg
	from
		background-position: 0 bottom
	to
		background-position: 495px bottom

body
	font-family: "Roboto"
	background-color: #e8c7f1
	background-image: image_url( "boskeopolis-land-skyscrapers.png" )
	background-position: 0 bottom
	background-attachment: fixed
	background-repeat: repeat-x
	animation-name: scrollingbg
	animation-duration: 3s
	animation-iteration-count: infinite
	animation-delay: 0
	animation-timing-function: linear
h1,
h2
	font-weight: 900

a
	&:link,
	&:visited
		text-decoration: underline
	&:hover
		text-decoration: none

.sec
	margin-top: -6em
	padding-top: 6em
	margin-bottom: 2em

@media ( min-width: 401px )
	.sec
		margin-top: -4.5em
		padding-top: 4.5em

@media ( min-width: 650px )
	.sec
		margin-top: -3em
		padding-top: 3em
